@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name );
}
@mixin flexCenter{
       display:flex;
       align-items: center;
       justify-content: center;

}

body{
    background-color: $prim-color;
    
}

.main{
    @include flexCenter;
    width: 80%;
    margin: 0 auto;
 

    p{
        font-weight: weight(bold);
        &:hover{
            font-weight: map-get($font-weights, regular);
        }
    }


}